## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a = 5,5,2
print(a)

(5, 5, 2)

2) Imprimir el tipo de dato de la variable 8.5

In [3]:
b = 8.5
type(b)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [6]:
print ("El tipo de dato del punto 1 es: ", type(a))

El tipo de dato del punto 1 es:  <class 'tuple'>

4) Crear una variable que contenga tu nombre

In [ ]:
c = "lucas"

5) Crear una constante que contenga el número Pi

In [42]:
PI = 3.14

6) Mostrar el tipo de dato de la variable creada en el punto 5

In [22]:
type(PI)

float

7) Crear una variable que contenga el valor del número **e** (número de euler) redondeado a 4 decimales

In [8]:
e = 2.7182

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [23]:
var1 = True
var2 = 'True'

# la var1 es un booleano y la var2 es un string, por lo que no son lo mismo

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [24]:
print(var1)
print(var2)

True
True

10) Asignar a una variable, la suma de un número entero y otro flotante

In [20]:
numentero = 10
numflotante = 3.5

print("La suma de los 2 es: ", numentero + numflotante)

la suma de los 2 es:  13.5

11) Realizar una operación de suma de un número definido como string con un entero

In [43]:
numentero = 10
string = "palabra"
print("La suma de los 2 es:", string + numentero) # da error porque no se puede concatenar un string con un entero

TypeError: can only concatenate str (not "int") to str

12) Crear una variable que contenga el valor del punto 7 elevado al cubo (potencia de 3)

In [10]:
cubo = e**3
print(cubo)

20.083723072568

13) Pedir al usuario que ingrese un número por teclado y realizar una operación de multiplicación

In [44]:
numero = int(input("Ingresa un numero: "))
numero2 = int(input("Ingresa otro numero: "))
multip = numero * numero2
print (multip)

6

14) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [12]:
cociente = 27 // 4
print (cociente)

6

15) De la división anterior solamente mostrar la parte entera

In [5]:
div = int(27 / 4)
print (div)

6

16) De la división de 27 entre 4 mostrar solamente el resto

In [6]:
resto = 27 % 4
print (resto)

3

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 15 y 16, obtener 27 como resultado

In [7]:
r = div * 4 + resto
print (r)

27

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [8]:
a = 2
b = "2"

print (a == b) #da false porque son 2 tipos distintos de variables, una es un entero y la otra un string

False

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 18 resulte verdadera

In [9]:
a = 2
b = "2"

print (a == int(b))

True

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [ ]:
#da error porque se esta asignando flotante a una tupla, el flotante usa . para separar los decimales

21) Realizar la operación 10 + '10' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

In [45]:
a = 10
b = '10'

# print (a + b) da error por ser 2 tipos de variables qe nose pueden operar, no daria error si fueran del mismo tipo en la suma
print (a + int(b))
print (str(a) + b)

20
1010

22) Crear una variable que contenga un menú con los elementos MENU: 1 - Pizza, 2 - Empanadas, 3 - Milanesas, 4 - Salir, y luego mostrarlo por pantalla

In [11]:
menu = """"
1 - Pizza       3 - Milanesas
2 - Empanadas   4 - Salir

"""
print (menu)

"
1 - Pizza       3 - Milanesas
2 - Empanadas   4 - Salir

23) Crear una lista que contenga los números del 1 al 10

In [51]:
listanumeros = [1,2,3,4,5,6,7,8,9,10]

24) Imprimir el penultimo elemento de la lista creada en el punto 23

In [14]:
print (listanumeros[-2])

9

25) Modificar el tercer elemento de la lista creada en el punto 23 poniendo tu nombre

In [54]:
listanumeros.pop(2)
listanumeros.insert(2,"lucas")
print (listanumeros)

[1, 2, 'lucas', 4, 5, 6, 7, 8, 9, 10]

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

In [55]:
matriz = [["A","B","C"],["D","E","F"],["G","H","I"]]

27) Imprimir la matriz creada en el punto 26

In [30]:
print (matriz)

[['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I']]

28) Modificar la letra E de la matriz y colocar la letra Z

In [31]:
matriz[1][1] = "Z"
print (matriz)

[['A', 'B', 'C'], ['D', 'Z', 'F'], ['G', 'H', 'I']]

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

In [32]:
matriz[0] = ["1","2","3"]
print (matriz)

[['1', '2', '3'], ['D', 'Z', 'F'], ['G', 'H', 'I']]

30) Crear una tupla que contenga 5 marcas de ropa

In [33]:
tupla = ("nike", "adidas", "puma", "Odisea", "Kosiuko")

31) Imprimir el primer elemento de la tupla creada en el punto 30

In [35]:
print(tupla[0])

nike

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

In [ ]:
# no se pueden modificar las tuplas

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

In [40]:
diccionario = {"nombre":"Lucas", "apellido":"Martin", "edad":41, "hobbies":["programar", "musica", "deportes"]}

{'nombre': 'Lucas', 'apellido': 'Martin', 'edad': 41, 'hobbies': ['programar', 'musica', 'deportes']}

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

In [38]:
print(diccionario["hobbies"])

['programar', 'musica', 'deportes']

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla

In [41]:
diccionario["edad"] = 30

print (diccionario["edad"])

30